.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .fade-enter-to {
    opacity: 1;
  }
  .fade-leave {
    opacity: 1;
  }
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .fade-leave-to {
    opacity: 0;
  }