@import "./_transitions.css";

:root {
  --border-radius: 10px; 
  --default-padding: 1rem; 

  --icon-size: 32px;
  --icon-size-sm: 24px;
  --icon-size-xs: 18px;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html.dark {
  background: #121212;
}

.grid {
  display: grid;
}

.text-white {
  color: #fff;
}

.ogame_bg {
  background-color: black;
  background-image: url("../../assets/universe.jpg");
  /* background-image: url("chrome-extension://__MSG_@@extension_id__/assets/universe.jpg"); */

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}


.icon_placeholder::after {
  content: '...';
}
.moon_icon {
  background-image: url("../../assets/moon_icon.svg");
  /* background-image: url("chrome-extension://__MSG_@@extension_id__/assets/universe.jpg"); */
}
.planet_icon {
  background-image: url("../../assets/planet_icon.svg");
  /* background-image: url("chrome-extension://__MSG_@@extension_id__/assets/universe.jpg"); */
}
.debris_icon {
  background-image: url("../../assets/debris_icon.svg");
  /* background-image: url("chrome-extension://__MSG_@@extension_id__/assets/universe.jpg"); */
}

.icon_placeholder,
.debris_icon,
.moon_icon,
.planet_icon {
  background-position: center;
  background-size: contain;
  width: var(--icon-size);
  height: var(--icon-size);
}

.icon_placeholder.small,
.debris_icon.small,
.moon_icon.small,
.planet_icon.small {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

#mp_app .toggle_button:active {
  transform: scale(0.9);
}
#mp_app .toggle_button {
  position: fixed;
  bottom: 2rem;
  left: 1rem;

  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* background-image: url("../../assets/icon_32.png"); */
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/icon_32.png");
  background-position: center;

  cursor: pointer;
}

#mp_app button.mp_button {
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1rem;
  color: white;
  box-shadow: 0 0 20px 0px #eae1e142;
  transition: box-shadow 200ms linear;
  cursor: pointer;
}
#mp_app button.mp_button:active {
  box-shadow: 0 0 20px 0px #eae1e1;
  transform: scale(0.98);
}

#mp_app .app_container > main {
  flex: 1;
  overflow: auto;
  padding-top: 5px;
  border-radius: 10px;
  display: grid;
}

#mp_app .app_container {
  display: flex;
  flex-flow: column nowrap;

  position: fixed;
  z-index: 1;

  width: 320px;
  height: calc(100vh - 120px);
  max-height: 900px;
  padding: 1rem;

  bottom: 75px;
  left: 1rem;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(1px);

  transition: transform 0.3s ease-in;
  transform: translateX(-110%);

  overflow: auto;
}
@media screen and (max-height: 820px) {
  #mp_app .app_container {
      height: calc(100vh - 100px);
  }
}

#mp_app .app_container::-webkit-scrollbar {
  display: none;
}

#mp_app .app_container.open {
  transform: translateX(0);
}

#mp_app .mission {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;

  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#mp_app input[type="number"] {
  border: 0;
  border-radius: 4px;
  padding: 3px 5px;
  transition: transform .1s ease-in;
}
#mp_app input[type="number"]:focus {
  transform: scale(1.3);
  box-shadow: 0px 2px 10px 0px black;
}

#mp_app section {
  background: rgb(125 92 162 / 60%);
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  margin: 0.25rem 0;
}

#mp_app section:focus-within {
  background: rgb(125 92 162 / 75%);
}

#mp_app section.center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#mp_app .destination,
#mp_app .destination_type {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#mp_app .destination input {
  width: 50px;
}

#mp_app h5 {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 0.2rem;
}

#mp_app select {
  width: 100%;
  padding: 0.25rem;
  border-radius: 10px;
  background: transparent;
  color: rgb(255, 255, 255);
}

#mp_app select option {
  background-color: white;
  color: black;
}

#mp_app #speed_range {
  width: 100%;
}


/* UTILS */
.d-f-r {
  display: flex;
  flex-flow: row nowrap;
}

.d-f-c {
  display: flex;
  flex-flow: column nowrap;
}

.j-c-c {
  justify-content: center;
}

.a-i-c {
  align-items: center;
}

.gap05 {
  gap: .5rem;
}

.gap1 {
  gap: 1rem;
}

.mt05 {
  margin-top: .5rem;
}

.text-center{
  text-align: center;
}

.pointer {
  cursor: pointer;
}
/* END UTILS */