@import './_icons.less';
@import './_sprite.less';

// Importare solo se utili
// @import './_icon_nf.less';

@import './_percentage_bar.less';
@import './_buttonz.less';
@import './_fleet.less';
@import './_technology.less';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    z-index: 1;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    background: #000 url("//gf1.geo.gfsrv.net/cdnc8/a70be772b78f27691516fa29654cef.jpg") no-repeat 50% 0;
    color: #f1f1f1;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    font-size: 12px;
}

em {
    font-style: italic;
}

a {
    -moz-outline-width: 0;
}

a:visited {
    text-decoration: none;
}

:focus,
:active {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: """";
}

input[type="button"],
input[type="submit"] {
    border: 0;
}