<div class="menu__toggler"
     [class.active]="isActive"
     (click)="toggleMenu()">
    <span></span>
</div>

<div class="backdrop"
     [class.active]="isActive"
     (click)="isActive = false"></div>

<aside class="menu"
       [class.active]="isActive">
    <ul class="main_menu">
        <a routerLink="fleet-configuration"
           routerLinkActive="menu_item--active"
           class="menu_item">
            <li>
                Fleet save config.
            </li>
        </a>
        <a routerLinkActive="menu_item--active"
           class="menu_item">
            <li>
                Menu 2
            </li>
        </a>
        <a routerLink="about"
           routerLinkActive="menu_item--active"
           class="menu_item">
            <li>
                About
            </li>
        </a>
    </ul>
</aside>