.menu {
    position: sticky;
    top: 3rem;
    max-height: 90vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    >li:first-child {
        border: 3px solid black;
    }

    li {
        background-color: #0e1116;
        padding: 10px 15px;

        border-bottom: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;

        a.active {
            color: red !important;
        }

    }

    a {
        text-decoration: none;
        color: white;
    }
}

.disabled{
    pointer-events: none;
}

.menu_icon{
    position: relative;

    .moon_icon{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.moon_icon{
    &:not(.disabled):hover path {
        stroke: black;
        stroke-width: 15px;
    }

    &.disabled{
        filter: brightness(0.1);
    }
}