.menu {
    position: sticky;
    top: 3rem;
    max-height: 90vh;
    overflow-y: auto;

    >li:first-child{
        border: 3px solid black;
    }

    li {
        background-color: #0e1116;
        padding: 10px 15px;

        border-bottom: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;

        a.active {
                color: red !important;
        }

    }

    a {
        text-decoration: none;
        color: white;
    }
}