<div id="{{uni}}_{{planet.galaxy}}_{{planet.system}}_{{planet.position}}_{{planet.type}}"
     class="og_card fleet_save">
    <div class="fleet_save__title">
        <h1>{{planet.name}} [{{planet.galaxy}}:{{planet.system}}:{{planet.position}}]</h1>
    </div>

    <div id="battleships">

        <div class="header fleet_save__header">
            <div class="left">&nbsp;</div>
            <div class="center">&nbsp;</div>
            <div class="right">&nbsp;</div>
        </div>

        <div class="fleet_save__content">

            <div class="fleet_save__ships">
                <app-fleet [planet]="planet"></app-fleet>
            </div>

            <div class="fleet_save__mission">
                <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                    <!-- Destination options -->
                    <div id="fleet2">
                        <div class="mp_header">
                            <h2>Destinazione</h2>
                        </div>

                        <div id="mission">

                            <td id="target"
                                class="border5px">

                                <div class="target">
                                    <a [class]="mission?.type === 1 ? 'planet_selected' : 'planet'"
                                       id="pbutton"
                                       (click)="mission.type = 1">
                                    </a>
                                    <a [class]="mission?.type === 3 ? 'moon_selected' : 'moon'"
                                       id="mbutton"
                                       (click)="mission.type = 3">
                                    </a>
                                    <a [class]="mission?.type === 2 ? 'debris_selected' : 'debris'"
                                       id="dbutton"
                                       (click)="mission.type = 2">
                                    </a>
                                    <br class="clearfloat">
                                </div>

                                <div class="coords">
                                    Coordinate:
                                    <br>
                                    <input name="galaxy"
                                           id="galaxy"
                                           type="number"
                                           class="galaxy hideNumberSpin"
                                           size="1"
                                           [(ngModel)]="mission.galaxy">
                                    <input name="system"
                                           id="system"
                                           type="number"
                                           class="system hideNumberSpin"
                                           size="3"
                                           [(ngModel)]="mission.system">
                                    <input name="position"
                                           id="position"
                                           type="number"
                                           class="planet hideNumberSpin"
                                           size="2"
                                           [(ngModel)]="mission.position">
                                </div>
                            </td>
                        </div>
                    </div>

                    <!-- Velocity -->
                    <og-speed [(speed)]="mission.velocity"></og-speed>
                </div>

                <!-- Mission options -->
                <og-missions [(mission)]="mission.mission"></og-missions>

            </div>
        </div>
    </div>

    <footer style="position: relative;">
        <div class="mp_footer"></div>
        <div style="display: flex;
           justify-content: center;
           position: absolute;
           right: 1.5rem;
           bottom: 1rem;">
            <button class="glow-on-hover"
                    (click)="saveMission()"
                    type="button">SALVA</button>
        </div>
    </footer>
</div>