<main>
  <div class="page-content">

    <ng-container [ngSwitch]="currentComponent">
      <ng-container *ngSwitchCase="'traderOverview'">
        <og-trader></og-trader>
      </ng-container>

      <ng-container *ngSwitchCase="'fleetdispatch'">
        <og-fleet></og-fleet>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <h1>Mp-Ogame</h1>
        <div class="centered">
          <button (click)="updateFleets()">
            Update fleets
          </button>
        </div>
      </ng-container>

      <button (click)="goToOptions()">Opzioni</button>

    </ng-container>
  </div>

  <router-outlet></router-outlet>

  <span class="version">
    MP-Ogame V. {{version}}
  </span>
</main>