<main>
  <div class="page-content">

    <ng-container [ngSwitch]="currentComponent">
      <ng-container *ngSwitchCase="'traderOverview'">
        <og-trader></og-trader>
      </ng-container>

      <ng-container *ngSwitchCase="'fleetdispatch'">
        <og-fleet></og-fleet>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <h1>Mp-Ogame</h1>
        <div class="centered">
          <button (click)="keepMeOn()">
            Keep me on
          </button>
          <button (click)="updateFleets()">
            Update fleets
          </button>

          <button (click)="fleetSave()">
            Fleet-Save
          </button>

          <button (click)="sendExpeditions()">
            Send expeditions
          </button>

          <button (click)="moveToPlanet()">
            Move cargo to planet
          </button>

          <button (click)="moveToMoon()">
            Move cargo to moon
          </button>
          <form (ngSubmit)="collect()"
                class="form_group">
            <input type="text"
            placeholder="g,s,p, (3|1)"
                   [(ngModel)]="destination"
                   [ngModelOptions]="{standalone: true}">

            <button (click)="collect()">
              Collect
            </button>
          </form>

          
          <button (click)="STOP()">
            STOP
          </button>


        </div>
      </ng-container>
    </ng-container>

    <button class="goto_option"
            (click)="goToOptions()">Opzioni</button>
  </div>

  <!-- <router-outlet></router-outlet> -->


  <span class="version">
    MP-Ogame V. {{version}}
  </span>
</main>