.allornonewrap .firstcol.fleft {
    display: none !important;
}

/* 
    Hide some elments of the page
*/
#mmonetbar,         /* Top Banner */
#siteHeader,        /* Top Banner */
#banner_skyscraper  /* Right banner */ {
    display: none !important;
}

/* 
    Get rid of the useless gameforge tobar
*/
body.no-commander #pageContent {
    top: 0px !important;
}

body.no-commander {
    background-position: 50% -1px !important;
    background-attachment: fixed  !important;
}

body.no-commander .contentBoxBody {
    top: 0px !important;
}

body::-webkit-scrollbar {
    display: none;
}

.content .ajax_loading {
    display: none !important;
}

/* Galaxy UI improvements  */

#galaxyHeader {
    height: 1.5rem !important;
}

#galaxyHeader form > * {
    display: block;
    float: none;
}

#galaxyHeader form {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    /* height: 90px !important; */
    align-items: center;
}

#galaxyHeader .systembuttons > a[disabled] {
    display: none;
}


/* Automatic Inatictive Espionage Button */
#inatictiveEspionage {
    cursor: pointer;
    margin: 0 1rem; 
}

.og_card a:hover {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a#fleet_save,
a#exp_button {
    width: 38px;
    height: 38px;
}

a#fleet_save:hover,
a#exp_button:hover {
    filter: brightness(1.5);
}

a#exp_button {
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/expedition_icon.jpeg");
}

a#fleet_save {
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/send_icon.jpeg");
}

/* #links {
    position: fixed;
    display: block;
    width: 175px;
}

#promotionCountdownBox {
    position: fixed;
    bottom: 2rem;
}

#advice-bar a img{
    position: fixed;
    top: 6rem;
} */


.d-f,
.d-f-jc {
    display: flex;
}

.d-f-jc {
    justify-content: center;
}

