<div>
    <h2>Navi</h2>
  </div>

  <ul id="military">

    <app-ship [ship]="getShipById(planet?.shipsData, 202)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 203)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 208)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 209)"></app-ship>

    <app-ship [ship]="getShipById(planet?.shipsData, 210)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 204)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 205)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 206)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 207)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 215)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 211)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 213)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 214)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 218)"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 219)"></app-ship>
  </ul>