<div>
    <h2>Navi</h2>
  </div>

  <ul id="military">
    <app-ship [ship]="getShipById(planet?.shipsData, 202)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 203)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 208)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 209)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 210)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 204)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 205)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 206)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 207)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 215)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 211)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 213)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 214)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 218)" [editable]="editable"></app-ship>
    <app-ship [ship]="getShipById(planet?.shipsData, 219)" [editable]="editable"></app-ship>
  </ul>