<div>
    <h2>Navi</h2>
  </div>

  <ul id="military">
    <app-ship [ship]="getShipById(202)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(203)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(208)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(209)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(210)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(204)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(205)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(206)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(207)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(215)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(211)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(213)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(214)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(218)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
    <app-ship [ship]="getShipById(219)" [editable]="editable" (onChange)="emitChange($event)"></app-ship>
  </ul>