html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
  min-height: 350px;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  padding-bottom: 1rem;
}

p {
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 8px 0;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

main {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  background-image: url(./assets/images/universe.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.page-content {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
  padding: 1rem;
  color: white;
}

.version {
  position: fixed;
  bottom: 0;
  right: 0;

  font-size: 9px;
  color: white;
  padding: 2px;
}

.centered {
  // width: 100%;
  // min-height: 0;
  // flex: 1;
  // display: grid;
  // place-items: center;

  width: 100%;
  min-height: 0;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;

  i {
    backdrop-filter: blur(5px);
  }
}

.form-group {
  * {
    display: block;
  }
}

button {
  background: none;
  border: 2px solid white;
  border-radius: 35px;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  outline: none;
  margin-bottom: 0.25rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.55);
  }
}

button.goto_option {
  margin-top: auto;
}


.form_group {
  input {
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 35px;
    border: 2px solid white;
    outline: none !important;
    color: white;
    font-size: 1rem;

    &::placeholder{
      color: white;
      opacity: .8;
    }
  }
}

.trader {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  &__form {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      min-height: 0;
      flex: 1;
      margin: 0 auto;

      input{
        text-align: center;
      }
  }

  .actions{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
