<div class="page"
     role="main">

  <aside class="uni_toc">
    <og-menu [storage]="storage" *ngIf="keysOf(storage)?.length > 0"></og-menu>
  </aside>

  <div class="uni_content">

    <div *ngFor="let uni of keysOf(storage)"
         id="{{uni}}">
      <div style="text-align: center;">
        <h1>{{uni}}</h1>
      </div>

      <og-planet *ngFor="let p of storage[uni].planets"
                 uni="{{uni}}"
                 [planet]="p">
      </og-planet>
    </div>
  </div>
</div>


<router-outlet></router-outlet>