@import '../assets/ogame-theme/ogame.less';

.page {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    position: relative;
}

.uni {
    &_toc {
        
    }

    &_content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .isSticky{
            color: red;
        }
    }
}
