<div class="page"
     role="main">

    <div class="uni_content"
         style="position: relative;">

        <div *ngFor="let uni of ogameData"
             id="{{uni.code}}">

            <div class="uni_title"
                 ogStickyClass="isSticky">
                <h1>{{uni.code}} - {{uni.name}}</h1>
            </div>

            <div class="fleet">
                <app-fleet [editable]="true"
                           [ships]="uni?.expeditionConfig?.ships"
                           (onChange)="onChange(uni, $event)">
                </app-fleet>
            </div>

        </div>
    </div>

</div>